body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0px;
    background-color: #21272a;
    color: white;
    height: 100%;
}

h1 {
    text-align: left;
    font-size: 2.5em;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
}

th {
    background-color: #2f2f2f;
}

tr.highlighted {
    border: 2px solid yellow;
}

a:visited {
    color: #1871ff;
}

ul {
    padding: 0px 5px 0px 26px;
    margin: 5px 0px 5px 0px;
}

ul li:hover {
    background-color: yellow;
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    background-color: #101315;
    border-bottom: 7px solid #1871ff;
    z-index: 1000;
}

.logo {
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    -webkit-test-stroke-color: black;
    text-shadow: 
        -1px -1px 3px white,
        1px -1px 3px white,
        -1px 1px 3px white,
        1px 1px 3px white;
    padding: 0px 30px 0px 30px;
    cursor: default;
    white-space: nowrap;
}

#reports-menu {
    width: 100%;
    margin-top: 64px;
    background-color: #1871ff;
    padding-bottom: 5px;
}

.report-item {
    color: #888888;
    padding: 0px 0px 5px 20px;
    cursor: pointer;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

.popup-hidden {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
}

.popup-visible {
    position: fixed;
    display: block;
    width: 250px;
    background-color: #aaaaaa;
    border-radius: 5px;
    border: 1px solid #1871ff;
    box-shadow: 0px 1px 10px 3px #191f22;
    animation: grow_height 1s east-out forwards;
    color: black;
    padding: 5px;
    z-index: 1001;
}

#audit-log {
    min-width: 300px;
    overflow: auto;
}

.audit-hidden {
    display: none;   
}

.audit-visible {
    display: block;
    padding: 15px;
    font-size: 0.8em;
    background-color: #f1f7fa;
    color: black;
}

.audit-detail {
    padding: 0px;
    margin: 0px;
}

.audit-key {
    color: #1871ff;
    padding: 0px;
    margin: 0px;
}

.menu-item {
    text-decoration: none;
    width: 100%;
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu-item:hover {
    color: white;
    background-color: #1871ff;
    cursor: pointer;
}

.title-bar {
    width: 100%;
}

#title-bar {
    color: #888888;
    width: 100%;
    height: 100%;
}

#videos-tab, #audios-tab, #photos-tab, #documents-tab, #faces-tab, #voices-tab,
#library-tab, #reports-tab {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    cursor: default;
    padding-right:10px;
}

#videos-tab:hover, #audios-tab:hover, #photos-tab:hover, #documents-tab:hover, #faces-tab:hover,
#voices-tab:hover, #library-tab:hover, #reports-tab:hover {
    color: #00bbbb;
    cursor: pointer;
}

#filler-space {
    width: 100%;
}

#menu-separator {
    padding-right: 5px;
    border-left: 1px solid white;
}

#settings {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    font-size: 2em;
    padding: 0px 15px 0px 5px;
    cursor: default;
}

#settings:hover {
    color: #00bbbb;
    cursor: pointer;
}

#profile {
    font-size: 1.5em;
    padding: 0px 0px 0px 5px;
    color: #aaaaaa;
    cursor: default;
}

#profile:hover {
    color: #00bbbb;
    cursor: pointer;
}

#username {
    white-space: nowrap;
}

.results-table {
    table-layout: fixed;
    font-size: 0.8em;
    border-collapse: collapse;
}

.results-table th, .results-table td {
    padding: 4px;
    text-align: left;
    border: 1px solid #444;
}

.results-table th {
    background-color: #2f2f2f;
    color: white;
}

.results-table tr:nth-child(even) {
    background-color: #31373a;
}

.results-table tr:hover {
    background-color: #0c387f;
}

.results-td {
    width: 33.33%;
    vertical-align: bottom;
    font-size: 0.8em;
    font-style: oblique;
}

.folder-icon:hover {
    cursor: pointer;
}

.folder-label {
    color: white;
}

.browse-folder-label {
    color: black;
}

.browse-folder-label:hover {
    background-color: yellow;
    cursor: pointer;
}

.results-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.audit-elements, .ratings-elements {
    flex: 1;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.search-input-wrapper {
    position: relative;
    display: inline-block;
}

.search-input {
    font-family: sans-serif;
	padding-right: 30px; /* Space for the clear button */
}

.scope-input {
    font-family: sans-serif;
    width: 300px;
    height: 24px;
    padding: 2px;
    color: black;
    background-color: white;
}

.ratings-select {
    font-family: sans-serif;
    height: 24px;
}

.clear-button {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	cursor: pointer;
	font-size: 18px;
	color: #999;
}

.search-button, .get-ratings-button {
    font-family: sans-serif;
    height: 24px;
    border-radius: 12px;
}

.search-input-wrapper:hover .clear-button {
	 display: block;
}

.groups-label {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.group-name {
    margin: 0px 0px 0px 10px;
    padding: 0px;
}

.json-highlight .string { color: #00c000; word-break: break-word; }
.json-highlight .number { color: #0000ff; }
.json-highlight .boolean { color: #b22222; }
.json-highlight .null { color: #808080; }
.json-highlight .key { color: #c52a2a; }

.clickable-text {
    cursor: pointer;
}

.folder-browser-hidden {
  position: fixed;
  display: none;
  z-index: 0;
}

.folder-browser-visible {
  position: fixed;
  display: flex;
  width: 160px;
  z-index: 1002;
  background-color: white;
  color: black;
}

