body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0px;
    background-color: #21272a;
    color: white;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    background-color: #101315;
    border-bottom: 7px solid #1871ff;
    z-index: 1000;
}

.logo {
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    -webkit-test-stroke-color: black;
    text-shadow:
        -1px -1px 3px white,
        1px -1px 3px white,
        -1px 1px 3px white,
        1px 1px 3px white;
    padding: 0px 30px 0px 30px;
    cursor: default;
    white-space: nowrap;
}

.popup-hidden {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
}

.popup-visible {
    position: fixed;
    display: block;
    width: 200px;
    background-color: #aaaaaa;
    border-radius: 5px;
    border: 1px solid #1871ff;
    box-shadow: 0px 1px 10px 3px #191f22;
    animation: grow_height 1s east-out forwards;
    color: black;
    padding: 5px;
    z-index: 1001;
}

.title-bar {
    width: 100%;
}

.menu-item {
    text-decoration: none;
    width: 100%;
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu-item:hover {
    color: white;
    background-color: #1871ff;
    cursor: pointer;
}

#videos-tab, #photos-tab, #audios-tab, #faces-tab,
#voices-tab, #library-tab, #reports-tab {
  color: #888888;
  width: 100%;
  transition: color 0.3s ease;
  cursor: default;
  padding-right: 10px;
}

#videos-tab:hover, #photos-tab:hover, #audios-tab:hover, #faces-tab:hover,
#voices-tab:hover, #library-tab:hover, #reports-tab:hover {
  color: #00bbbb;
  cursor: pointer;
}

#filler-space {
    width: 100%;
}

#settings {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    font-size: 2em;
    padding: 0px 15px 0px 5px;
    cursor: default;
}

#settings:hover {
    color: #00bbbb;
    cursor: pointer;
}

#profile {
    font-size: 1.5em;
    padding: 0px 0px 0px 5px;
    color: #aaaaaa;
    cursor: default;
}

#profile:hover {
    color: #00bbbb;
    cursor: pointer;
}

#username {
    white-space: nowrap;
}

#menu-separator {
    padding-right: 5px;
    border-left: 1px solid white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 85%;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-options {
    display: flex;
}

.modal-options h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: right;
}

.close {
    cursor: pointer;
    font-size: 24px;
}

.folder-header {
    font-family: sans-serif;
    font-size: 0.8em;
    margin: 2px;
    padding: 4px 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #333333;
    flex-grow: 1;
}

.folder-icon {
    margin-right: 8px;
}

.folder-file {
    padding-left: 20px;
    border-left: 3px solid yellow;
    margin-left: 10px;
}

.file-item {
    flex-basis: calc(33.33% - 20px);
    margin: 2px;
    flex-grow: 1;
    font-family: sans-serif;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    padding: 4px 4px;
    background-color: #333333;
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop-zone.dragover {
    border-color: #4CAF50;
    background-color: #E8F5E9;
}

.drop-zone p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.drop-zone p span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}

.progress-container {
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    column-count: 3;
    max-height: 300px;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.status-message {
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ffeeba;
}

.error-messages {
    color: #dc3545;
    margin-bottom: 20px;
}

.upload-btn {
    font-family: sans-serif;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.success-mark {
    color: #4CAF50;
}

.error-mark {
    color: #dc3545;
}

.upload-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.checkbox-label {
    font-size: 0.9em;
}

.checkbox-tooltip {
    cursor: pointer;
    color: yellow;
    font-size: 0.9em;
}

.checkbox-div {
    display: flex;
    align-items: center;
}

.target-path {
    color: #4CAF50;
}
