body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0px;
    background-color: #21272a;
    color: white;
}

h1 {
    text-align: left;
    font-size: 2.5em;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
}

th {
    background-color: #2f2f2f;
}

a:visited {
    color: #1871ff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    background-color: #101315;
    border-bottom: 7px solid #1871ff;
    z-index: 1000;
}

.logo {
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    -webkit-test-stroke-color: black;
    text-shadow: 
        -1px -1px 3px white,
        1px -1px 3px white,
        -1px 1px 3px white,
        1px 1px 3px white;
    padding: 0px 30px 0px 30px;
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0px;
}

.dropdown {
    padding: 5px;
    margin: 20px 0px 10px 0px;
    width: 512px;
}

.search {
    height: 32px;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

#media-container {
    display: flex;
    justify-content: center;
    max-height: 360px;
}

#audio-player {
    width: 512px;
}

#speaker-container {
    font-weight: bold;
    margin-top: 15px;
}

#captions-container {
    width: 800px;
    font-size: 0.8em;
    text-align: center;
    margin-top: 15px;
}

#diary-container {
    width: 100%;
    margin: 15px;
}

.diary-table {
    border: 1px solid;
}

.diary-td {
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    font-size: 0.8em;
}

.slider {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 0px;
    margin: 15px 15px;
}

.field_label {
    font-size: 0.6em;
    font-weight: bold;
    color: #1871ff;
}

.field_value {
    font-size: 0.8em;
}

.field_editable {
    font-family: sans-serif;
    font-size: 0.8em;
    cursor: pointer;
}

.field_editable:hover {
    color: yellow;
}

.segment-label {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.segment-timestamp {
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
}

.segment-action {
    text-align: center;
    white-space: nowrap;
}

.segment-action:hover {
    color: white;
    background-color: #1871ff;
    cursor: pointer;
}

/*
.detail_label {
    font-size: 0.6em;
    font-weight: bold;
    color: #1871ff;
    padding: 5px 5px 0px 5px;
    background-color: rgba(0,0,0,0);
}

.detail_value {
    color: #f0f0f0;
    font-size: 0.8em;
    padding: 0px 5px 5px 5px;
    background-color: rgba(0,0,0,0);
}
*/
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 0px;
    box-sizing: border-box;
}

.tile {
    flex: 1 1 calc(33% - 15px); /* Adjust percentage for number of tiles per row */
    margin: 8px; /* Space between tiles */
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #31373a;
    box-shadow: 0px 5px 8px 5px #191f22;
}

.tile_table {
    border: 0px;
    border-radius: 15px;
    padding: 0px;
}

.table_fields td {
    padding-bottom: 7px;
}

@media (max-width: 768px) {
    .tile {
        flex: 1 1 calc(50% - 15px); /* 2 tiles per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .tile {
        flex: 1 1 calc(100% - 15px); /* 1 tile per row on very small screens */
    }
}

.thumbnail {
    border-radius: 15px;
}

.buttons {
    margin-bottom: 10px;
}

.button {
    width: 70px;
    height: 32px;
    border-radius: 16px;
}
/*
.paging-buttons {
    text-align: right;
}

.paging-button {
    width: 100px;
    height: 32px;
    border-radius: 16px;
    background-color: #31373a;
    color: white;
}
*/
.hyperlink {
    color: lightgray;
}

.more {
    padding: 5px;
    text-align: center;
}

.filter-hidden {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 768px;
    max-height: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0px 5px 8px 5px #191f22;
}

.filter-visible {
    position: fixed;
    width: 768px;
    background-color: #f0f0f0;
    border-radius: 15px;
    border: 5px solid #1871ff;
    box-shadow: 0px 5px 8px 5px #191f22;
    animation: grow_height 1s east-out forwards;
    color: black;
    padding: 10px;
    overflow: auto;
    max-height: 600px;
}

.popup-hidden {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
}

.popup-visible {
    position: fixed;
    display: block;
    width: 200px;
    background-color: #aaaaaa;
    border-radius: 5px;
    border: 1px solid #1871ff;
    box-shadow: 0px 1px 10px 3px #191f22;
    animation: grow_height 1s east-out forwards;
    color: black;
    padding: 5px;
    z-index: 1001;
}

#main-body {
    margin-top: 60px;
}

#main-view {
    vertical-align: top;
    width: 100%;
}

.audit-hidden {
    display: none;   
}

.audit-visible {
    display: block;
    padding: 15px;
    font-size: 0.8em;
    background-color: #f1f7fa;
    color: black;
    width: 250px;
}

.audit-detail {
    padding: 0px;
    margin: 0px;
}

.audit-key {
    color: #1871ff;
    padding: 0px;
    margin: 0px;
}

.menu-item {
    text-decoration: none;
    width: 100%;
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu-item:hover {
    color: white;
    background-color: #1871ff;
    cursor: pointer;
}
/*
.folder-browser-hidden {
    position: fixed;
    display: none;
    z-index: 0;
}

.folder-browser-visible {
    position: fixed;
    display: flex;
    width: 130px;
    z-index: 1002;
    background-color: white;
    color: black;
}
*/
ul {
    padding: 0px 5px 0px 26px;
    margin: 5px 0px 5px 0px;
}

ul li:hover {
    background-color: yellow;
    cursor: pointer;
}
/*
.details-hidden {
    position: fixed;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.details-visible {
    position: fixed;
    width: 100%;
    background-color: #31373a;
    color: black;
    padding: 10px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}
*/
@keyframes grow_height {
    from { max-height: 0; }
    to { max-height: 200px; }
}

.title-bar {
    width: 100%;
}

#title-bar {
    color: #888888;
    width: 100%;
    height: 100%;
}

#videos-tab {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    cursor: default;
    padding-right:10px;
}

#videos-tab:hover {
    color: #00bbbb;
    cursor: pointer;
}

#photos-tab {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    cursor: default;
    padding-right:10px;
}

#photos-tab:hover {
    color: #00bbbb;
    cursor: pointer;
}

#audios-tab {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    cursor: default;
    padding-right:10px;
}

#audios-tab:hover {
    color: #00bbbb;
    cursor: pointer;
}

#faces-tab {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    cursor: default;
    padding-right:10px;
}

#faces-tab:hover {
    color: #00bbbb;
    cursor: pointer;
}

#voices-tab, #reports-tab {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    cursor: default;
    padding-right:10px;
}

#voices-tab:hover, #reports-tab:hover {
    color: #00bbbb;
    cursor: pointer;
}

#filler-space {
    width: 100%;
}

#settings {
    color: #888888;
    width: 100%;
    transition: color 0.3s ease;
    font-size: 2em;
    padding: 0px 15px 0px 5px;
    cursor: default;
}

#settings:hover {
    color: #00bbbb;
    cursor: pointer;
}

#profile {
    font-size: 1.5em;
    padding: 0px 0px 0px 5px;
    color: #aaaaaa;
    cursor: default;
}

#profile:hover {
    color: #00bbbb;
    cursor: pointer;
}

#username {
    white-space: nowrap;
}

#dnd_msg {
    font-size: 0.8em;
}

#results-label {
    width:40%; 
    padding-left: 10px;
    font-style: italic;
    font-size: 0.8em;
}

.similarity {
    flex: 1;
    font-size: 0.8em;
    white-space: nowrap;
}

#slider-input-label {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#search-button {
    cursor: pointer;
}

#reset-button {
    cursor: pointer;
}

#close-search-filter {
    position: absolute;
    left: 740px;
    top: 0px;
    cursor: default;
    color: #818f8a;
    font-weight: bold;
    font-size: 1.5em;
}

#close-search-filter:hover {
    color: #212f2a;
    cursor: pointer;
}
i/*
#close-video-details {
    position: fixed;
    top: 0px;
    cursor: default;
    color: #818f8a;
    font-weight: bold;
    font-size: 1.5em;
}

#close-video-details:hover {
    color: #212f2a;
    cursor: pointer;
}
*/
.video-name {
    font-size: 0.8em;
    color: black;
}

.video-desc {
    font-size: 0.6em;
    color: gray;
}

.video-item {
    border-radius: 15px;
    cursor: pointer;
}

.video-item:hover {
    background-color: yellow;
}

.instructions {
    padding: 5px;
    text-align: center;
}

/* The following are generated by Claude Sonnet */
/*
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
*/
#search-box {
    width: 512px;
    height: 32px;
    border-radius: 8px;
    padding: 5px 10px;
}
/*
.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px 0;
    padding: 10px;
}
*/
#results-table {
    font-size: 0.8em;
    border-collapse: collapse;
    margin-left: 15px;
    margin-right: 15px;
}

#results-table th, #results-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #444;
}

#results-table th {
    background-color: #2f2f2f;
    color: white;
}

#results-table tr:nth-child(even) {
    background-color: #31373a;
}

#results-table tr:hover {
    background-color: #0c387f;
}
/*
.field-description {
    height: 60px;
}
*/
.label-n-buttons {
    width: 100%;
}

.results-td {
    width: 33.33%;
    vertical-align: bottom;
    font-size: 0.8em;
    font-style: oblique;
}

.search-reset {
    width: 33.33%;
    text-align: center;
}
/*
#video-table, #video-table tr, #video-table td {
    border: 0px;
    padding: 0px;
}

#video-container {
    display: flex;
    background-color: black;
    width: 100%;
    height: auto;
    justify-content: center;
}

#details-table, #details-table tr, #details-table td {
    border: 0px solid #1f1f1f;
    border-collapse: collapse;
}

.transcript {
    font-size: 0.8em;
    width: 512px;
    background-color: #f1f7fa;
    height: 100%;
    padding: 15px;
    overflow: scroll;
}

#video-n-details {
    vertical-align: top;
}
*/
tr.highlighted {
    border: 2px solid yellow;
}

td.highlighted {
    background-color: yellow;
    color: black;
}

#editor {
    font-family: sans-serif;
    width: 100%;
}

.editor-hidden {
    position: fixed;
    visibility: hidden;
}

.editor-visible {
    display: flex;
    width: 100%;
    background-color: white;
    color: black;
    margin-top: 2px;
    padding: 0px;
    visibility: visible;
    min-height: 24px;
    white-space: nowrap;
}

#editor-div {
    background-color: rgba(0,0,0,0);
}

#editor-buttons {
    display: flex;
    height: 28px;
    overflow: hidden;
}

.editor-button {
    flex: 1;
    width: 28px;
}

.name-input {
    flex: 1;
    font-family: sans-serif;
    font-size: 1em;
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    min-width: 0;
    max-width: 100px;
    padding: 0px;
}
/*
#bread-crumbs {
    color: #1871ff;
    cursor: pointer;
}

#bread-crumbs:hover {
    color: yellow;
}

.folder-list {
    list-style-type: "\1F4C1";
}

.file-name {
    max-width: 200px;
}
*/

.play-stop {
    background-color: gray;
    border-radius: 5px;
    color: black;
    padding: 0px 5px 0px 5px;
}

.play-stop:hover {
    color: white;
    cursor: pointer;
}

.play-stop:active {
    color: blue;
}

#speaker-name:hover {
    color:yellow;
}

#speaker-edit:hover {
    color: yellow;
    cursor: pointer;
}

#menu-separator {
    padding-right: 5px;
    border-left: 1px solid white;
}

