<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>m.box Player</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div id="header" class="header">
        <span class="logo">m.box</span>
        <span class="title-bar"><table id="title-bar"><tr>
            <td><table id="menu-bar"><tr>
                <td id="videos-tab" onclick="goToVideos()">Videos</td>
                <td id="photos-tab" onclick="goToPhotos()">Photos</td>
                <td id="audios-tab" onclick="goToAudios()">Audios</td>
                <td id="faces-tab" onclick="goToFaces()">Faces</td>
                <td id="voices-tab" onclick="goToVoices()">Voices</td>
                <td id="menu-separator">&nbsp;</td>
                <td id="reports-tab" onclick="goToReports()">Reports</td>
                </tr></table></td>
            <td id="filler-space"></td>
            <td><table id="tool-bar"><tr>
                <td id="username">Hi {{ user.username }}!</td>
                <td id="profile">&#x1F466</td>
                <td id="settings">&#x2699</td></tr></table></td>
            </tr>
            </table>
        </span>
    </div>
    <div id="popup-menu" class="popup-hidden">
        <div id="user-groups">Editing allowed</div>
        <div><hr></div>
        <div class="menu-item"><a href="/logout/">Sign out</a></div>
    </div>
    <div id="settings-menu" class="popup-hidden">
        <div id="menu-audit" class=menu-item onclick="toggleAudit()">Show audit</div>
    </div>
    <div id="container">
        <table><tr>
            <td id="video-n-details"> <!-- Video and details -->
                <table id="video-table">
                    <tr>
                        <td class="paging-buttons">
                            <button id="first-media" class="paging-button" onclick="getFirstMedia()">&#x21E4</button>
                            <button id="prev-media" class="paging-button" onclick="getAdjacentMedia('backward')">&#x21A4</button></td>
                        <td><div id="media-container">
                            <video id="video-player" controls></video>
                            <audio id="audio-player" controls></audio>
                        </div></td>
                        <td class="paging-buttons">
                            <button id="last-media" class="paging-button" onclick="getLastMedia()">&#x21E5</button>
                            <button id="next-media" class="paging-button" onclick="getAdjacentMedia('forward')">&#x21A6</button></td>
                    </tr>
                </table>
                <table id="details-table">
                    <tr>
                        <td colspan=6><div class="detail_label">Title</div>
                            <div id="detail-title" class="detail_value detail_editable"></div></td>
                        <td colspan=2><div class="detail_label">Creator</div>
                            <div id="detail-creator" class="detail_value detail_editable"></div></td>
                        <td colspan=2><div class="detail_label">Subject</div>
                                <div id="detail-subject" class="detail_value detail_editable"></div></td>
                        <td colspan=2><div class="detail_label">Publisher</div>
                            <div id="detail-publisher" class="detail_value detail_editable"></div></td>
                    </tr>
                    <tr>
                        <td colspan=2><div class="detail_label">Name</div>
                            <div id="detail-file-name" class="detail_value">filename.mp4</div></td>
                        <td colspan=2><div class="detail_label">Status</div>
                            <div id="detail-status" class="detail_editable">status</div></td>
                        <td colspan=4><div class="detail_label">Tags</div>
                                <div id="detail-tags" class="detail_editable">Tags</div></td>
                        <td colspan=4><div class="detail_label">Folder</div>
                                <span id="detail-folder-name" class="detail_value" onclick="browseFolder()">folder</span>
                                <span id="detail-file-position" class="detail_info">file position</span>
                                <span id="detail-file-count" class="detail_info">file count</span></td>
                    </tr>
                    <tr>
                        <td colspan=3><div class="detail_label">Contributor</div>
                            <div id="detail-contributor" class="detail_value detail_editable">&nbsp;</div></td>
                        <td colspan=2><div class="detail_label">Identifier</div>
                            <div id="detail-identifier" class="detail_value detail_editable">&nbsp;</div></td>
                        <td colspan=2><div class="detail_label">Language</div>
                            <div id="detail-language" class="detail_value detail_editable">&nbsp;</div></td>
                        <td colspan=2><div class="detail_label">Relation</div>
                            <div id="detail-relation" class="detail_value detail_editable">&nbsp;</div></td>
                        <td colspan=3><div class="detail_label">Coverage</div>
                            <div id="detail-coverage" class="detail_value detail_editable">&nbsp;</div></td>
                    </tr>
                    <tr>
                        <td colspan=12><div class="detail_label">Description</div>
                            <div id="detail-description" class="detail_editable">Description</div></td></tr>
                    <tr><td colspan=12><div class="detail_label">People</div>
                            <div id="detail-people" class="detail_editable">People</div></td></tr>
                    <tr><td colspan=12><div class="detail_label">Places</div>
                            <div id="detail-places" class="detail_editable">Places</div></td></tr>
                    <tr><td colspan=12><div class="detail_label">Texts</div>
                            <div id="detail-texts" class="detail_editable">Texts</div></td></tr>
                    <tr>
                        <td colspan=12><div class="detail_label">File Attributes</div>
                            <div id="detail-attributes" class="detail_value">width:1920,height:1080,frame_rate:29.97</div></td>
                    </tr>
                    <tr>
                        <td colspan=12><div class="detail_label">Other Metadata</div>
                            <div id="detail-extra_data" class="detail_editable">None</div></td>
                    </tr>
                    <tr><td colspan=12><div class="detail_label">Remarks</div>
                            <div id="detail-remarks" class="detail_editable">Remarks</div></td></tr>
                    <tr>
                        <td colspan=3><div class="detail_label">File Type</div>
                            <div id="detail-file-type" class="detail_value">MP4</div></td>
                        <td colspan=3><div class="detail_label">Media Source</div>
                            <div id="detail-media-type" class="detail_value">VHS</div></td>
                        <td colspan=3><div class="detail_label">File Size</div>
                            <div id="detail-file-size" class="detail_value">987,654,321 bytes</div></td>
                        <td colspan=3><div class="detail_label">Version</div>
                            <div id="detail-version" class="detail_value">1</div></td>
                    </tr>
                    <tr>
                        <td colspan=4><div class="detail_label">Date Created</div>
                            <div id="detail-created" class="detail_value">2024/08/09 00:01:02AM</div></td>
                        <td colspan=4><div class="detail_label">Date Uploaded</div>
                            <div id="detail-uploaded" class="detail_value">2024/08/09 03:04:05AM</div></td>
                        <td colspan=4><div class="detail_label">Last Accessed</div>
                            <div id="detail-accessed" class="detail_value">N/A</div></td>
                    </tr>
                    <tr>
                        <td colspan=4><div class="detail_label">Owner Name</div>
                            <div id="detail-owner_name" class="detail_editable">Owner</div></td>
                        <td colspan=4><div class="detail_label">Rights</div>
                                <div id="detail-rights" class="detail_editable"></div></td>
                        <td colspan=4><div class="detail_label">Group Name</div>
                            <div id="detail-group_name" class="detail_editable">Group</div></td>
                    </tr>
                </table>
            </td>
            <td class="transcript">
                <button id="download-transcript" class="button">Download</button>
                <div id="transcript">
                    Transcript will go here 
                </div>
            </td>
            <td id="audit-log" class="audit-hidden">Audit log will go here.</td>
        </tr></table>
    </div>
    <div id="editor-div" class="editor-hidden">
        <textarea id="editor-textarea" type="text" name="editor">&nbsp;</textarea>
        <select id="editor-select" name="options">
            <option value="1">For review</option>
            <option value="2">Reviewed</option>
        </select>
        <div id="editor-buttons">
            <button id="editor-ok" class="editor-button" onclick="saveEdits()">&#x2713</button>
            <button id="editor-cancel" class="editor-button" onclick="cancelEdits()">&#x10102</button>
        </div>
    </div>
    <div id="folder-browser" class='folder-browser-hidden'>
    </div>
    <script>
        const q_file_id = '{{ file_id }}'; 
        const q_file_name = '{{ file_name }}';
        const q_allow_edit = ('{{ allow_edit }}' === 'True');
        if (q_file_name == 'video') {
            document.getElementById('video-player').style.display = 'block';
            document.getElementById('audio-player').style.display = 'none';
        } else {
            document.getElementById('video-player').style.display = 'none';
            document.getElementById('audio-player').style.display = 'block';
        }
    </script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/media_player.js' %}"></script>
</body>
</html>
