body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0px;
    background-color: #201d1e;
    color: white;
}

h1 {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 0px;
    padding: 30px 9px 0px 35px;
    text-decoration: underline;
    text-decoration-color: #1871ff;
    text-decoration-thickness: 7px;
    text-underline-offset: 11px;
}

h2 {
    color: #1871ff;
    font-family: serif;
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    padding: 0px 0px 0px 35px;
    margin: 13px 0px 0px 0px;
}

input[type="text"], input[type="password"] {
    font-family: sans-serif;
    padding: 10px;
    width: 287px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

#logo {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0px; 
    text-decoration: underline;
    text-decoration-color: #1871ff;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

#catch-phrase {
    color: #1871ff;
    font-family: serif;
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
    padding: 8px 0px 40px 0px;
    margin: 13px 0px 0px 0px;
}

#container {
    display: flex;
    flex: 1;
    width: 100%;
}

#billboard, #login, #left-filler, #right-filler {
    padding: 20px;
    box-sizing: border-box;
}

#left-filler, #right-filler {
    flex: 1;
    width: 100%;
}

#billboard {
    display: flex;
    width: 800px;
    height: 700px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#login {
    border-collapse: collapse;
    border: 2px solid white;
    width: 360px;
    margin: 0px 70px 35px 0px;
}

#signin, #signup {
    font-weight: bold;
    color: white;
    background-color: #707070;
    padding: 10px;
    border-radius: 5px;
}

#signup {
    margin-top: 10px;
}

#forgot {
    padding-top: 10px;
}

#signin-table {
    height: 100%;
}

#vfiller {
    height: 100%;
    flex-grow: 1;
}
